input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  padding: 10px 8px;
  border-radius: 50%;
  background-color: #f5faff;
  box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3);
  color: var(--blackColor);
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.375px;
  transition: all 0.2s;
  cursor: pointer;
}
input[type="radio"]:checked + label {
  background-color: var(--greenColor);
}
@media (max-width: 850px) {
  input[type="radio"] + label {
    padding: 8px 6px;
    font-size: 12px;
  }
}
