.increment,
.decrement {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #dee6ee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blackColor);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.inner {
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
