:root {
  font-family: "Montserrat", sans-serif;

  --secondFamily: "Comfortaa", sans-serif;

  --blackColor: #020202;
  --greenColor: #64d370;
  --whiteColor: #f5faff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
